#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=

# Backend API URL (Deno + Hono server)
PUBLIC_API_URL="your-backend-api"

# Google reCAPTCHA v3 Site Key (public, safe for client-side)
PUBLIC_RECAPTCHA_SITE_KEY="your-key"
