#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=

# .env
# API
# PORT=8000
# HOSTNAME=
# API_URL=
NODE_ENV=

# SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# DRIZZLE
DATABASE_URL=

# GOOGLE CAPTCHA
RECAPTCHA_SECRET_KEY=

# GOOGLE AI API 
GOOGLE_API_KEY=

# UPSTASH
UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# RESEND
RESEND_API_KEY=